@model MovieApp.Models.Movies
@{
    ViewBag.Title = "DeleteMovie";
}

<h2>DeleteMovie</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Title: </td>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <td>Movie_ID: </td>
            <td>@Model.Movie_ID</td>
        </tr>
    </table>
    <input type="submit" value="Delete Movie" />
}