<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Css/MeyersReset.css" />
    <link rel="stylesheet" href="~/Css/main-layout.css" />
</head>
<body>
    <div id="mainContainer">

        <header id="mainHeader">
            <h1>MovieAppDatabase</h1>
            <div id="mainNav">
                <nav>
                    <ul>
                        <li>Home</li>
                        <li>Admin Login</li>
                    </ul>
                </nav>
            </div>
        </header>


        <main>
            @RenderBody()
        </main>

        <footer id="mainFooter">
            <h2>MovieAppDatabase</h2>
        </footer>

    </div>
</body>
</html>
