body {
    background: lightblue;
    width: 100%;
    height: 100%;
}

#mainHeader {
    width: 70%;
    background: lightgrey;
    margin-left: 15%;
}

#mainHeader h1 {
    font-size: 3em;
    height: 1.5em;
    width: auto;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
}

#mainNav {
    float: right;
    height: 100%;
    margin-top: 30px;
    font-size: 1.5em;
}

#mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mainNav li {
    display: inline;
    margin-right: 30px;
}

#mainContainer {

}

#mainFooter {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 1.4em;
    width: 70%;
    background: lightgrey;
    margin-left: 15%;
    font-size: 2em;
}

#mainFooter h2 {
    margin-left: 15px;
    margin-top: 5px;
}
